*{
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
}
body{
    background-color: black;
}
#first-section{
    background-size: 100% 100%;
    background-image: url(./images/background.jpg);
}
#first-section .nav-box{
    width: 100%;
    height: auto;
    
}
#first-section header .nav-box img{
    height: 1.5rem;
    margin: 1rem;
}
#first-section header .nav-box select{
    color: white;
    font-size: 1.2rem;
    outline: none;
    border: 1px solid white;
    margin-left: 70%;
    background: transparent;
}
#first-section header .nav-box select option{
    background-color: rgb(89, 84, 84);
}
#first-section header .nav-box #signInBtn{
    color: white;
    background-color: red;
    font-size: 1rem;
    height: 35px;
    width: 80px;
    border-radius:3px;
    outline: none;
    border: 0px solid rgb(0, 0, 0);
}
#first-section .unlimited-movies{
    color: white;
    align-items: center;
    text-align: center;
}