* {
    margin: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

.first-section {
    background-size: 100% 100%;
    background-image: url(./images/background.jpg);
}

.first-section .nav-box {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-section header .nav-box img {
    height: 2.2rem;
    margin: 1.5rem;
}

#language {
    color: rgb(231, 228, 228);
    outline: none;
    padding: 0.25rem 0.5rem;
    font-size: .9rem;
    height: 35px;
    margin-top: 0.35rem;
    border-radius: 4px;
    border: 2.5px solid white;
    margin-left: 65%;
    background: transparent;
}

#language option {
    background-color: rgb(89, 84, 84);
}

#signInBtn {
    color: white;
    background-color: #e50914;
    font-size: 1rem;
    cursor: pointer;
    height: 35px;
    width: 80px;
    outline: none;
    border: 0px solid rgb(0, 0, 0);
    float: right;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;
    float: none;
    margin-top: 0;
    margin-left: 10px;
    white-space: nowrap;
    margin-top: 0.5rem;
    text-decoration: none;
    letter-spacing: 0 !important;
    border-radius: 3px;
}

/* header done */

.first-section .unlimited-movies {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

#p1 {
    font-size: 60px;
    margin-left: 20%;
    margin-right: 20%;
}

#p2 {
    font-size: 30px;
}

#p3 {
    font-size: 20px;
}
.input-div{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
}
.email-input {
    height: 3rem;
    width: 50%;
    border: 1px solid #8c8c8c;
    border-radius: 2px;
    color: #000;
    font-size: 20px;
    outline: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    cursor: text;
    border-width: 2px;
    border-style: inset;
}

#started-btn {
    width: 20%;
    background-color: #e50914;
    color: white;
    height: 3rem;
    font-size: 1.3rem;
}

.separator-line {
    width: 100%;
    border: 3px solid rgba(255, 254, 254, 0.534);
}

/* done up to email entry and get started button */

/* second section starts */
.second-section {
    color: white;
    display: flex;
    font-family: 'Rubik', sans-serif;
    height: 500px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    flex-direction: row;
}

.second-section .text-div {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.second-section .text-div #large-text {
    font-size: 50px;
    text-align: left;
}

.second-section .text-div #small-text {
    font-size: 20px;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    text-align: left;
}

.second-section .img-box {
    height: auto;
    width: 50%;
}
.second-section .img-box img{
    width: auto;
}

/* Frequently Asked Questions starts from here */
.faq {
    padding: 0px 12%;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;
    font-family: 'Rubik', sans-serif;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #302f2f;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #302f2f;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

/* Frequently Asked Questions done */

/* footer starts */
.footer {
    padding: 50px 15% 10px;
    color: white;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;
}

.footer .row {
    display: flex;
    flex-direction: row;
}

.footer .column {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .column a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}

#language2 {
    color: rgb(214, 213, 213);
    outline: none;
    padding: 0.25rem 0.5rem;
    font-size: .9rem;
    height: 35px;
    margin-top: 0.35rem;
    border-radius: 4px;
    border: 2.5px solid white;
    background: transparent;
}

#language2 option {
    background-color: rgb(89, 84, 84);
}




/* --------- responsive ------- */
/* ----- small screen starts here----- */

@media screen and (min-width: 576px) {
    #language {
        margin-left: 30%;
    }
    .input-div{
        display: flex;
        flex-direction: column;
    }
    .input-div .email-input{
        width: 80%;
    }
    .input-div #started-btn{
        width: auto;
        margin-top: 1rem;
    }
    #p1 {
        font-size: 40px;
        margin-top: 30px;
    }

    #p2,
    #p3 {
        font-size: 20px;
        padding: 5px;
    }

    .second-section {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-left: 30px;
        align-items: center;
    }
    .second-section .text-div #large-text{
        font-size: 40px;
        width: 200%;
        padding-left: 20px;
    }
    .second-section .text-div #small-text{
        font-size: 20px;
        width: 200%;
        padding-left: 20px;
    }
    .second-section .img-box{
        width: 100%;
    }
    .second-section .img-box img{
        width: 100%;
    }
    .faq h2{
        font-size: 30px;
    }
    .faq ul{
        padding-left: 10px;
    }
    .faq .email-input{
        width: 80%;
    }
    .faq #started-btn{
        width: 40%;
    }

}

/* -------medium screen starts here------ */

@media screen and (min-width: 768px) {
    #language{
        margin-left: 55%;
    }
    #p1{
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    #started-btn{
        font-size: 2vh;
    }
    .second-section {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-left: 30px;
        align-items: center;
        padding-left: 100px;
    }
    .second-section .text-div #large-text{
        font-size: 50px;
        width: 100%;
        padding-left: 20px;
        margin-top: 20px;
    }
    .second-section .text-div #small-text{
        font-size: 30px;
        width: 100%;
        margin-bottom: 10px;
    }
    .second-section .img-box{
        width: 100%;
    }
    .second-section .img-box img{
        width: 100%;
    }
    .faq ul{
        padding-left: 10px;
    }
    .faq #started-btn{
        width: 20%;
        font-size: 1.6vh;
    }
}

/* --- large screen starts here---- */

@media screen and (min-width: 992px) {
    #language{
        margin-left: 65%;
    }
    #p1{
        margin-top: 50px;
        font-size: 80px;
    }
    #p2{
        font-size: 45px;
    }
    #p3{
        font-size: 25px;
    }
    #started-btn{
        font-size: 2.5vh;
    }
    .second-section {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-left: 30px;
        align-items: center;
        padding-left: 100px;
    }
    .second-section .text-div #large-text{
        font-size: 40px;
        width: 100%;
    }
    .second-section .text-div #small-text{
        font-size: 30px;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .second-section .img-box{
        width: 100%;
    }
    .second-section .img-box img{
        width: 100%;
    }
    .faq ul{
        padding-left: 10px;
    }
    .faq #started-btn{
        width: 20%;
        font-size: 1.6vh;
    }

}

/*----- extra large screen stats here -----*/

@media screen and (min-width: 1200px) {
    #language{
        margin-left: 70%;
    }
    #p1{
        font-size: 100px;
        margin-top: 50px;
    }
    #p2{
        font-size: 50px;
    }
    #p3{
        font-size: 20px;
    }
    #started-btn{
        font-size: 2.5vh;
    }
    .second-section {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-left: 30px;
        align-items: center;
        padding-left: 100px;
    }
    .second-section .text-div #large-text{
        font-size: 60px;
        width: 100%;
    }
    .second-section .text-div #small-text{
        font-size: 30px;
        width: 100%;
        padding-left: 20px;
        margin-bottom: 10px;
    }
    .second-section .img-box{
        width: 100%;
    }
    .second-section .img-box img{
        width: 100%;
    }
    .faq ul{
        padding-left: 10px;
    }
    .faq #started-btn{
        width: 20%;
        font-size: 1.6vh;
    }
}
